// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette
$background: rgb(25, 24, 29);
$main: #fffffe;
$secondary: #f25f4c;
$buttonText: #fffffe;
$highlight: #ff8906;
$border: black;
